<a href="https://colab.research.google.com/github/ehdgnsdl/dacon/blob/main/penguin_second.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

from os.path import join
import pandas as pd
import numpy as np
import multiprocessing

n_cpus = multiprocessing.cpu_count()

ROOT_PATH = ''
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon/penguin/train.csv')
x_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon/penguin/test.csv')

In [3]:
data.head()

   id  ... Body Mass (g)
0   0  ...          5550
1   1  ...          3800
2   2  ...          4400
3   3  ...          4850
4   4  ...          5700

[5 rows x 11 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   114 non-null    int64
 1   Species              114 non-null    object
 2   Island               114 non-null    object
 3   Clutch Completion    114 non-null    object
 4   Culmen Length (mm)   114 non-null    float64
 5   Culmen Depth (mm)    114 non-null    float64
 6   Flipper Length (mm)  114 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        114 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.9+ KB

In [5]:
data['Flipper Length (mm)'] = data['Flipper Length (mm)'].astype('float')
data['Flipper Length (mm)'].dtype

dtype('float64')

In [6]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   228 non-null    int64
 1   Species              228 non-null    object
 2   Island               228 non-null    object
 3   Clutch Completion    228 non-null    object
 4   Culmen Length (mm)   228 non-null    float64
 5   Culmen Depth (mm)    228 non-null    float64
 6   Flipper Length (mm)  228 non-null    float64
 7   Sex                  222 non-null    object
 8   Delta 15 N (o/oo)    219 non-null    float64
 9   Delta 13 C (o/oo)    220 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 17.9+ KB

In [7]:
label = data['Body Mass (g)']

data.drop(columns=['id', 'Body Mass (g)'], inplace=True)
x_test.drop(columns=['id'], inplace=True)

In [8]:
cat_columns = [c for c, t in zip(data.dtypes.index, data.dtypes) if t =='O']
num_columns = [c for c in data.columns if c not in cat_columns]

print('Categorical Columns: \n{}\n\n Numeric Columns: \n{}\n'.format(cat_columns, num_columns))

Categorical Columns:
['Species', 'Island', 'Clutch Completion', 'Sex']

 Numeric Columns:
['Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)']

In [9]:
# data 수치형 변수들의 결측치 확인
pd.isna(data[num_columns]).sum().sum()

6

In [10]:
# x_test 수치형 변수들의 결측치 확인
pd.isna(x_test[num_columns]).sum().sum()

17

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(data, label,
                                                      test_size = 0.3,
                                                      random_state=42,
                                                      shuffle=True)
x_train.reset_index(drop=True, inplace=True)
x_valid.reset_index(drop=True, inplace=True)

In [13]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

mice = IterativeImputer(random_state=0)
x_train[num_columns] = mice.fit_transform(x_train[num_columns])
x_valid[num_columns] = mice.transform(x_valid[num_columns])
x_test[num_columns] = mice.transform(x_test[num_columns])

In [14]:
pd.isna(x_train[num_columns]).sum().sum()

0

In [15]:
pd.isna(x_valid[num_columns]).sum().sum()

0

In [16]:
pd.isna(x_test[num_columns]).sum().sum()

0

In [17]:
# 범주형 변수 결측치 처리 및 라벨인코딩
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

ohe = OneHotEncoder(sparse=False)
ohe.fit(data[cat_columns])

OneHotEncoder(sparse=False)

In [18]:
onehot_columns = ohe.categories_[0].tolist()
for col in ohe.categories_[1:]:
  onehot_columns += col.tolist()

In [19]:
x_train_cat = pd.DataFrame(ohe.transform(x_train[cat_columns]), columns=onehot_columns)
x_valid_cat = pd.DataFrame(ohe.transform(x_valid[cat_columns]), columns=onehot_columns)
x_test_cat  = pd.DataFrame(ohe.transform(x_test[cat_columns]),  columns=onehot_columns)

In [20]:
# .values를 해줌으로써 밑에 Xgboost에서 featuer_names is unique라는 에러를 해결
x_train = pd.concat([x_train[num_columns], x_train_cat], axis=1)
x_valid = pd.concat([x_valid[num_columns], x_valid_cat], axis=1)
x_test  = pd.concat([x_test[num_columns],  x_test_cat],  axis=1)

In [21]:
y_train.shape

(79,)

In [36]:
# 라벨 변수 Label Encoding
le = LabelEncoder()
label = le.fit(label)

In [24]:
# 스케일링
from sklearn.preprocessing import StandardScaler
sclaer = StandardScaler()
x_train[num_columns] = sclaer.fit_transform(x_train[num_columns])
x_valid[num_columns] = sclaer.transform(x_valid[num_columns])
x_test[num_columns] = sclaer.transform(x_test[num_columns])

In [25]:
# 스케일링 확인 (std인 표준편차가 1에 가까워야함)
x_train[num_columns].describe()

       Culmen Length (mm)  ...  Delta 13 C (o/oo)
count        7.900000e+01  ...       7.900000e+01
mean         5.621382e-18  ...       1.023092e-15
std          1.006390e+00  ...       1.006390e+00
min         -1.948239e+00  ...      -1.559992e+00
25%         -8.526895e-01  ...      -7.869291e-01
50%          7.714643e-02  ...      -2.972046e-01
75%          8.780942e-01  ...       8.066664e-01
max          2.028881e+00  ...       1.903624e+00

[8 rows x 5 columns]

In [26]:
def RMSE(true, pred):
    score = np.sqrt(np.mean(np.square(true-pred)))
    return score

In [27]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Culmen Length (mm)                         79 non-null     float64
 1   Culmen Depth (mm)                          79 non-null     float64
 2   Flipper Length (mm)                        79 non-null     float64
 3   Delta 15 N (o/oo)                          79 non-null     float64
 4   Delta 13 C (o/oo)                          79 non-null     float64
 5   Adelie Penguin (Pygoscelis adeliae)        79 non-null     float64
 6   Chinstrap penguin (Pygoscelis antarctica)  79 non-null     float64
 7   Gentoo penguin (Pygoscelis papua)          79 non-null     float64
 8   Biscoe                                     79 non-null     float64
 9   Dream                                      79 non-null     float64
 10  Torgersen                                  79 non-null     float64
 11  No                                         79 non-null     float64
 12  Yes                                        79 non-null     float64
 13  FEMALE                                     79 non-null     float64
 14  MALE                                       79 non-null     float64
 15  nan                                        79 non-null     float64
dtypes: float64(16)
memory usage: 10.0 KB

In [41]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
score_List=[]

In [42]:
model = KNeighborsRegressor(n_neighbors=5).fit(x_train, y_train)
score_List.append(f'KNeighborsRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = LinearRegression().fit(x_train, y_train)
score_List.append(f'LinearRegression: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = Ridge().fit(x_train, y_train)
score_List.append(f'Ridge: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = Lasso().fit(x_train, y_train)
score_List.append(f'Lasso: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = DecisionTreeRegressor().fit(x_train, y_train)
score_List.append(f'DecisionTreeRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = RandomForestRegressor().fit(x_train, y_train)
score_List.append(f'RandomForestRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = GradientBoostingRegressor().fit(x_train, y_train)
score_List.append(f'GradientBoostingRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = XGBRegressor().fit(x_train, y_train)
score_List.append(f'XGBRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

model = LGBMRegressor().fit(x_train, y_train)
score_List.append(f'LGBMRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_valid, y_valid)}')

[03:21:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [43]:
[print(i) for i in score_List]

KNeighborsRegressor: train_score: 0.8849189955988768, val_score: 0.7497053726169844
LinearRegression: train_score: 0.8721985093781489, val_score: 0.8001381308457658
Ridge: train_score: 0.8697086833082444, val_score: 0.7936489828838199
Lasso: train_score: 0.8720529070156923, val_score: 0.7997623038528142
DecisionTreeRegressor: train_score: 1.0, val_score: 0.3217892786708899
RandomForestRegressor: train_score: 0.9754065404305767, val_score: 0.6825782137094365
GradientBoostingRegressor: train_score: 0.9944569050898459, val_score: 0.6294465221279213
XGBRegressor: train_score: 0.9819615673475177, val_score: 0.7478546508364203
LGBMRegressor: train_score: 0.8932148222626578, val_score: 0.7273957346445322

[None, None, None, None, None, None, None, None, None]

In [44]:
model_LR = LinearRegression().fit(x_train, y_train)
model_RID = Ridge().fit(x_train, y_train)
model_LA = Lasso().fit(x_train, y_train)
model_LGBM = LGBMRegressor().fit(x_train, y_train)
model_XGB = XGBRegressor().fit(x_train, y_train)

[03:21:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [45]:
pred_LR = model_LR.predict(x_test)
pred_RID = model_RID.predict(x_test)
pred_LA = model_LA.predict(x_test)
pred_LGBM = model_LGBM.predict(x_test)
pred_XGB = model_XGB.predict(x_test)
pred = pred_LR*0.2 + pred_RID*0.2 + pred_LA*0.2 + pred_LGBM*0.2 + pred_XGB*0.2
pred

array([4228.48784154, 5609.12730466, 3572.24269651, 3425.11371218,
       3428.88115701, 4143.26463609, 4530.92938354, 5102.23888001,
       4799.47575603, 3912.4812323 , 4131.399232  , 4545.74911334,
       4786.31789525, 4720.82856769, 4939.01879213, 5139.51936389,
       4154.18451475, 3879.2463362 , 3483.40785881, 3548.06455298,
       4048.9657466 , 5504.11157567, 5332.08637156, 4099.82330594,
       3436.29003294, 4560.17410937, 3512.94945018, 3967.14847324,
       4040.06997535, 4592.51306444, 3532.39273962, 4801.69019492,
       3450.71337321, 4962.81094357, 3977.77336476, 3374.06046651,
       4497.39240547, 3619.27548537, 3916.56949828, 4531.74058455,
       4151.99514317, 3553.71169252, 3969.07451611, 5363.06521705,
       3685.15721341, 4520.04395632, 3755.48492132, 4181.4369447 ,
       4801.06683958, 5500.00554603, 3692.12283677, 3981.37072706,
       3441.22526815, 4096.95254126, 4207.42840764, 4013.08138962,
       4548.46434762, 3982.98795527, 4800.95246353, 3642.93222017,
       3948.20817095, 3500.10820095, 3960.63980694, 5523.59636594,
       3488.77642374, 4195.83543938, 4115.52734102, 4622.07188767,
       3842.27497994, 3939.43963265, 4785.13521656, 3366.75598281,
       3588.81997234, 3546.1250248 , 5304.74942165, 4257.1857594 ,
       3371.90572386, 3881.13892757, 5334.83181518, 4706.05425224,
       4073.30243654, 3635.72868436, 4123.8576334 , 4704.72617154,
       5149.97620466, 4142.6715327 , 5182.37624825, 4156.282757  ,
       3497.07732966, 5159.26239194, 4510.82181519, 3580.43643922,
       3544.7523072 , 3759.29183903, 3436.34268347, 3525.36529431,
       3544.90806163, 3298.13256142, 5010.60311361, 4139.12914764,
       3604.57672871, 3345.50407492, 3330.97159452, 5251.03454966,
       5702.61084157, 3297.89692453, 5227.46004593, 5245.84331594,
       4099.37210571, 3365.00829516, 4507.64015731, 3322.17030191,
       4054.08861939, 3922.139703  , 5191.52585433, 3873.20253163,
       3556.52036988, 3456.36327307, 4136.56105796, 3946.6090149 ,
       4069.8491354 , 5262.69941894, 3451.02655603, 4376.96211158,
       4015.18461521, 4109.13319913, 5130.07894815, 4068.24837514,
       3416.83678107, 3789.37539779, 4021.95207618, 3876.35247103,
       5244.00620925, 5131.41059961, 5248.50901438, 3812.666904  ,
       3584.89312297, 3539.89473936, 4687.76506992, 3538.64918727,
       3861.65291734, 4523.39383884, 3223.64500505, 3367.70777161,
       4208.84800422, 3461.84693365, 4602.27190024, 3610.6799105 ,
       5415.02202244, 4198.81433044, 5223.07326021, 3487.14858468,
       5050.10194986, 5249.91024102, 4049.48963619, 5529.54210053,
       3484.21224763, 4073.75578664, 3542.78682412, 3518.03323873,
       3942.6650216 , 3490.51044774, 3339.85884722, 3317.63706461,
       5169.24972429, 3436.48989535, 5422.24321903, 4790.17266924,
       3875.8731222 , 3769.60342883, 5522.52462519, 3480.99011549,
       5268.23894778, 3403.74589682, 3496.43386855, 3999.65388   ,
       4177.50569368, 4462.10246077, 5221.45242901, 3429.13185941,
       3869.37865064, 4314.49593886, 4020.24933603, 4278.30220387,
       4502.52886736, 4246.82272662, 4909.13123809, 5166.02494918,
       3394.20167114, 3184.51088376, 4170.52283134, 3615.8875295 ,
       3711.69658493, 4075.10800712, 4875.56557432, 5381.13504662,
       4077.28960719, 5249.70067225, 3482.76471788, 3428.86904987,
       3810.80553769, 4745.28750103, 3841.66524042, 4753.10136063,
       4064.31935849, 3677.9722378 , 3494.10783991, 4114.13481628,
       4801.17453029, 5003.25379464, 3264.24444047, 3445.37376925,
       3471.65965049, 3625.00814716, 3546.77352421, 3852.29002174,
       5266.29875162, 3577.43559584, 4094.97613922, 3906.98556776,
       3468.56382539, 3425.10857131, 4717.80113788, 4080.58728821,
       4829.03051193, 4503.25616031, 4062.93358403, 3948.28137312])

In [28]:
# # 모델 검증 + OOF 앙상블
# from sklearn.model_selection import KFold
# n_splits = 5
# kf = KFold(n_splits=n_splits, shuffle=True, random_state=42)

In [29]:
# # 회귀 모델 사용해보기
# from sklearn.linear_model import LinearRegression
# from sklearn.neural_network import MLPRegressor
# from sklearn.ensemble import RandomForestRegressor
# from xgboost import XGBRegressor
# from lightgbm import LGBMRegressor

# val_scores = list()
# #oof_pred = np.zeros((x_test.shape[0], label.shape[0])

# models = [['Linear Regression', LinearRegression(n_jobs=n_cpus)],
#           ['MultiLayerPerceptron', MLPRegressor(random_state=42)],
#           ['RandomForest', RandomForestRegressor(random_state=42,
#                                                  n_jobs=n_cpus)],
#           ['XGBoost', XGBRegressor(random_state=42,
#                                    tree_method='gpu_hist',
#                                    n_jobs=n_cpus)],
#           ['LightGBM', LGBMRegressor(random_state=42,
#                                      tree_method='gpu_hist',
#                                      n_jobs=n_cpus)]]

# best_loss = np.inf
# best_pred = None
# for i, (name, model) in enumerate(models):
#   current_loss = list()
#   current_pred = list()
  
#   model.fit(x_train, y_train)
#   y_pred = model.predict(x_valid)
#   current_loss.append(RMSE(y_valid, y_pred))
#   current_pred.append(model.predict(x_test))

#   if np.mean(current_loss) < best_loss:
#       best_loss  = np.mean(current_loss)
#       best_model = [i, name]
#       best_pred  = current_pred
#       #oof_pred += model.predict(x_test) / n_splits
    
#   print(f'{name} Model Validation RMSE: {np.mean(current_loss)}')

# print(f'Best Model: {best_model[-1]}, RMSE: {best_loss}')

Linear Regression Model Validation RMSE: 345.59930641040074
MultiLayerPerceptron Model Validation RMSE: 4632.256876832222
RandomForest Model Validation RMSE: 441.50552698368665
[03:18:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGBoost Model Validation RMSE: 386.85679306184494
LightGBM Model Validation RMSE: 403.621426772355
Best Model: Linear Regression, RMSE: 345.59930641040074

In [30]:
# # best_pred를 np.array()로 만든 후에 (list를 array로 만들어줌.)
# best_pred = np.array(best_pred)
# best_pred.shape

(1, 228)

In [31]:
# best_pred = best_pred.reshape(-1, 1)
# best_pred.shape

(228, 1)

In [46]:
submit = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dacon/penguin/sample_submission.csv')
submit.head()

   id  Body Mass (g)
0   0              0
1   1              0
2   2              0
3   3              0
4   4              0

In [47]:
submit['Body Mass (g)'] = pred

In [48]:
submit_file_name = 'penguin_second.csv'
submit.to_csv(submit_file_name, index=False)